//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 17 14:16:22 2015
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "L14" LEVEL 1;
COMP "b" LOCATE = SITE "H12" LEVEL 1;
COMP "c" LOCATE = SITE "N14" LEVEL 1;
COMP "d" LOCATE = SITE "N11" LEVEL 1;
COMP "e" LOCATE = SITE "P12" LEVEL 1;
COMP "f" LOCATE = SITE "L13" LEVEL 1;
COMP "g" LOCATE = SITE "M12" LEVEL 1;
COMP "dp" LOCATE = SITE "N13" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "sw0" LOCATE = SITE "P11" LEVEL 1;
COMP "sw1" LOCATE = SITE "L3" LEVEL 1;
COMP "sw2" LOCATE = SITE "K3" LEVEL 1;
COMP "sw4" LOCATE = SITE "G3" LEVEL 1;
COMP "sw5" LOCATE = SITE "F3" LEVEL 1;
PIN sw5_pin<0> = BEL "sw5" PINNAME PAD;
PIN "sw5_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "sw6" LOCATE = SITE "E2" LEVEL 1;
COMP "sw7" LOCATE = SITE "N3" LEVEL 1;
COMP "btn0" LOCATE = SITE "G12" LEVEL 1;
PIN btn0_pin<0> = BEL "btn0" PINNAME PAD;
PIN "btn0_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "btn3" LOCATE = SITE "A7" LEVEL 1;
COMP "an<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "an<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "an<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "an<3>" LOCATE = SITE "F12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

